# Desafio 04
ALGAR

In [81]:

# Em seguida iremos importar diversas bibliotecas que serão utilizadas:

# Pacote para trabalhar com JSON
import json

# Pacote para realizar requisições HTTP
import requests

# Pacote para exploração e análise de dados
import pandas as pd

# Pacote com métodos numéricos e representações matriciais
import numpy as np

# Pacote para construção de modelo baseado na técnica Gradient Boosting
import xgboost as xgb

# Pacotes do scikit-learn para pré-processamento de dados
# "SimpleImputer" é uma transformação para preencher valores faltantes em conjuntos de dados
from sklearn.impute import SimpleImputer

# Pacotes do scikit-learn para treinamento de modelos e construção de pipelines
# Método para separação de conjunto de dados em amostras de treino e teste
from sklearn.model_selection import train_test_split
# Método para criação de modelos baseados em árvores de decisão
from sklearn.tree import DecisionTreeClassifier
# Classe para a criação de uma pipeline de machine-learning
from sklearn.pipeline import Pipeline

# Pacotes do scikit-learn para avaliação de modelos
# Métodos para validação cruzada do modelo criado
from sklearn.model_selection import KFold, cross_validate

## carregando banco

In [82]:
dataset = pd.read_csv('algar-dataset-treino.csv')

In [83]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Idade                                       1370 non-null   int64
 1   Local de trabalho                           1370 non-null   object
 2   Pontuação teste                             1370 non-null   int64
 3   Departmento                                 1370 non-null   object
 4   Distancia casa-trabalho                     1370 non-null   int64
 5   Educacao                                    1370 non-null   object
 6   Area                                        1370 non-null   object
 7   Possui carro                                1370 non-null   int64
 8   Subordinado                                 1370 non-null   int64
 9   Satisfação com o ambiente no emprego atual  1370 non-null   int64
 10  Genero                                      1370 non-null   object
 11  Horas voluntariado                          1370 non-null   int64
 12  Envolvimento com trabalho                   1370 non-null   int64
 13  Posicao                                     1370 non-null   int64
 14  Cargo                                       1370 non-null   object
 15  Satisfação com emprego                      1370 non-null   int64
 16  Estado civil                                1370 non-null   object
 17  Renda                                       1370 non-null   int64
 18  Bonus de performance                        1370 non-null   int64
 19  Quantidade de empresas que trabalho         1370 non-null   int64
 20  Maior de idade                              1370 non-null   int64
 21  Necessita de hora extra                     1370 non-null   object
 22  Aumento de salario%                         1370 non-null   int64
 23  Performance na entrevista                   1370 non-null   int64
 24  Satisfação com a relação                    1370 non-null   int64
 25  Horas de trabalho padrão                    1370 non-null   int64
 26  Beneficios                                  1370 non-null   int64
 27  Anos de experiencia                         1370 non-null   int64
 28  Horas de treinamento ultimo ano             1370 non-null   int64
 29  Estilo de vida                              1370 non-null   int64
 30  Anos na última empresa                      1370 non-null   int64
 31  Anos na posição atual                       1370 non-null   int64
 32  Anos desde última promoção                  1370 non-null   int64
 33  Anos com a mesma gerência                   1370 non-null   int64
 34  Contratar                                   1370 non-null   object
dtypes: int64(26), object(9)
memory usage: 374.7+ KB

In [84]:
dataset.head()

,Idade,Local de trabalho,Pontuação teste,Departmento,Distancia casa-trabalho,Educacao,Area,Possui carro,Subordinado,Satisfação com o ambiente no emprego atual,...,Horas de trabalho padrão,Beneficios,Anos de experiencia,Horas de treinamento ultimo ano,Estilo de vida,Anos na última empresa,Anos na posição atual,Anos desde última promoção,Anos com a mesma gerência,Contratar
0,49,Cliente,279,Engenharia,8,Médio completo,Ciências das natureza,1,2,3,...,80,1,10,3,3,10,7,1,7,Não
1,33,Misto,1392,Engenharia,3,Superior incompleto - cursando,Ciências das natureza,1,5,4,...,80,0,8,3,3,8,7,3,0,Não
2,27,Cliente,591,Engenharia,2,Médio completo,Medicina,1,7,1,...,80,1,6,3,3,2,2,2,2,Não
3,32,Misto,1005,Engenharia,2,Superior incompleto,Ciências das natureza,1,8,4,...,80,0,8,2,2,7,7,3,6,Não
4,59,Misto,1324,Engenharia,3,Superior completo,Medicina,1,10,3,...,80,3,12,3,2,1,0,0,0,Não

In [85]:
dataset.describe()

,Idade,Pontuação teste,Distancia casa-trabalho,Possui carro,Subordinado,Satisfação com o ambiente no emprego atual,Horas voluntariado,Envolvimento com trabalho,Posicao,Satisfação com emprego,...,Satisfação com a relação,Horas de trabalho padrão,Beneficios,Anos de experiencia,Horas de treinamento ultimo ano,Estilo de vida,Anos na última empresa,Anos na posição atual,Anos desde última promoção,Anos com a mesma gerência
count,1370.000000,1370.000000,1370.000000,1370.0,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000,...,1370.000000,1370.0,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000,1370.000000
mean,37.030657,807.249635,9.105109,1.0,1012.276642,2.729927,65.807299,2.745985,2.081752,2.723358,...,2.720438,80.0,0.804380,11.357664,2.800730,2.769343,7.031387,4.244526,2.206569,4.141606
std,9.196528,404.400662,7.992457,0.0,569.946647,1.091863,20.389902,0.706643,1.113974,1.107829,...,1.079704,0.0,0.851919,7.849234,1.282745,0.704319,6.127907,3.617897,3.220930,3.578049
min,18.000000,102.000000,1.000000,1.0,2.000000,1.000000,30.000000,1.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.250000,2.000000,1.0,516.250000,2.000000,48.000000,2.000000,1.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,806.000000,7.000000,1.0,1014.500000,3.000000,66.000000,3.000000,2.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1168.750000,14.000000,1.0,1512.000000,4.000000,83.000000,3.000000,3.000000,4.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,1.0,2055.000000,4.000000,100.000000,4.000000,5.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,37.000000,18.000000,15.000000,17.000000

## Dividir treino e teste

In [86]:
from sklearn.model_selection import StratifiedShuffleSplit

In [87]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [88]:
for train_index, test_index in split.split(dataset, dataset.Contratar):
    data_train = dataset.loc[train_index]    
    data_test = dataset.loc[test_index]

In [89]:
print(data_train.shape)
print(data_test.shape)

(1096, 35)
(274, 35)

## Separando features do target

- já removendo as features que não possuem variação
- não há valor faltante

In [90]:
x_train = data_train.drop(['Possui carro', 'Horas de trabalho padrão', 'Maior de idade', 'Contratar'], axis=1)
x_test = data_test.drop(['Possui carro', 'Horas de trabalho padrão', 'Maior de idade', 'Contratar'], axis=1)

In [91]:
y_train = data_train.Contratar
y_test = data_test.Contratar

### tratar das variáveis categoricas

In [92]:
cat_cols = list(x_train.select_dtypes(include=['object']).columns)
num_cols = x_train._get_numeric_data().columns
print(cat_cols)
print(num_cols)

['Local de trabalho', 'Departmento', 'Educacao', 'Area', 'Genero', 'Cargo', 'Estado civil', 'Necessita de hora extra']
Index(['Idade', 'Pontuação teste', 'Distancia casa-trabalho', 'Subordinado',
       'Satisfação com o ambiente no emprego atual', 'Horas voluntariado',
       'Envolvimento com trabalho', 'Posicao', 'Satisfação com emprego',
       'Renda', 'Bonus de performance', 'Quantidade de empresas que trabalho',
       'Aumento de salario%', 'Performance na entrevista',
       'Satisfação com a relação', 'Beneficios', 'Anos de experiencia',
       'Horas de treinamento ultimo ano', 'Estilo de vida',
       'Anos na última empresa', 'Anos na posição atual',
       'Anos desde última promoção', 'Anos com a mesma gerência'],
      dtype='object')

In [93]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

referencias:
- https://medium.com/data-hackers/como-usar-pipelines-no-scikit-learn-1398a4cc6ae9
- https://medium.com/vickdata/a-simple-guide-to-scikit-learn-pipelines-4ac0d974bdcf

In [94]:
cat_transformer = Pipeline(steps=[
    ('encoder', OrdinalEncoder()) , 
    ('one-hot encoder', OneHotEncoder(drop='first'))
])

In [95]:
num_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer())
])

In [96]:
preprocessor = ColumnTransformer(transformers=[
    ('num', num_transformer, num_cols),
    ('cat', cat_transformer, cat_cols)
])

In [97]:
xx  =  pd.DataFrame( preprocessor.fit_transform(x_train) )

In [98]:
x_train.head()

,Idade,Local de trabalho,Pontuação teste,Departmento,Distancia casa-trabalho,Educacao,Area,Subordinado,Satisfação com o ambiente no emprego atual,Genero,...,Performance na entrevista,Satisfação com a relação,Beneficios,Anos de experiencia,Horas de treinamento ultimo ano,Estilo de vida,Anos na última empresa,Anos na posição atual,Anos desde última promoção,Anos com a mesma gerência
849,47,Escritório,465,Engenharia,1,Superior completo,Faculdade Técnica,1438,1,M,...,3,3,1,17,2,2,6,5,1,2
923,30,Escritório,1288,Vendas,29,Superior incompleto - cursando,Faculdade Técnica,1568,3,M,...,3,2,1,9,3,3,4,2,1,3
629,50,Cliente,145,Vendas,1,Superior completo,Ciências das natureza,1040,4,F,...,3,1,1,19,3,3,18,7,0,13
69,38,Misto,573,Engenharia,6,Superior completo,Medicina,107,2,F,...,3,4,3,17,3,3,13,11,1,9
752,27,Misto,1167,Engenharia,4,Superior incompleto,Ciências das natureza,1259,1,M,...,3,2,3,5,2,3,5,3,0,3

In [99]:
print(list(num_cols))

['Idade', 'Pontuação teste', 'Distancia casa-trabalho', 'Subordinado', 'Satisfação com o ambiente no emprego atual', 'Horas voluntariado', 'Envolvimento com trabalho', 'Posicao', 'Satisfação com emprego', 'Renda', 'Bonus de performance', 'Quantidade de empresas que trabalho', 'Aumento de salario%', 'Performance na entrevista', 'Satisfação com a relação', 'Beneficios', 'Anos de experiencia', 'Horas de treinamento ultimo ano', 'Estilo de vida', 'Anos na última empresa', 'Anos na posição atual', 'Anos desde última promoção', 'Anos com a mesma gerência']

In [100]:
x_train[cat_cols].nunique()

Local de trabalho          3
Departmento                3
Educacao                   5
Area                       6
Genero                     2
Cargo                      9
Estado civil               3
Necessita de hora extra    2
dtype: int64

## Treinamento

In [111]:
from sklearn.preprocessing import StandardScaler
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.neighbors import KNeighborsClassifier

In [102]:
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    #('select', SelectKBest(k=30)),
    ('clf', LGBMClassifier())
])

In [103]:
model.fit(x_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer())]),
                                                  Index(['Idade', 'Pontuação teste', 'Distancia casa-trabalho', 'Subordinado',
       'Satisfação com o ambiente no emprego atual', 'Horas voluntariado',
       'Envolvimento com trabalho', 'Posicao', 'Satisfação com emprego',
       'Renda', 'Bonus de performance', 'Quantidade de em...
       'Anos na última empresa', 'Anos na posição atual',
       'Anos desde última promoção', 'Anos com a mesma gerência'],
      dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('encoder',
                                                                   OrdinalEncoder()),
                                                                  ('one-hot '
                                                                   'encoder',
                                                                   OneHotEncoder(drop='first'))]),
                                                  ['Local de trabalho',
                                                   'Departmento', 'Educacao',
                                                   'Area', 'Genero', 'Cargo',
                                                   'Estado civil',
                                                   'Necessita de hora '
                                                   'extra'])])),
                ('scaler', StandardScaler()), ('clf', LGBMClassifier())])

In [104]:
pred_train = model.predict(x_train)

In [105]:
print(classification_report(y_train, pred_train))

              precision    recall  f1-score   support

         Não       1.00      1.00      1.00       942
         Sim       1.00      1.00      1.00       154

    accuracy                           1.00      1096
   macro avg       1.00      1.00      1.00      1096
weighted avg       1.00      1.00      1.00      1096

## Teste

In [106]:
pred_test = model.predict(x_test)

In [107]:
print(classification_report(y_test, pred_test))

              precision    recall  f1-score   support

         Não       0.91      0.97      0.94       236
         Sim       0.70      0.42      0.52        38

    accuracy                           0.89       274
   macro avg       0.80      0.70      0.73       274
weighted avg       0.88      0.89      0.88       274

In [108]:
print(accuracy_score(y_test, pred_test))

0.8941605839416058

## Insightes

In [113]:
for i in range(44, 10, -1):
    model = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('scaler', StandardScaler()),
        ('select', SelectKBest(k=i)),
        ('clf', LGBMClassifier())
    ])
    model.fit(x_train, y_train)
    pred = model.predict(x_test)
    print(i, accuracy_score(y_test, pred))

44 0.8905109489051095
43 0.8905109489051095
42 0.8868613138686131
41 0.8868613138686131
40 0.8832116788321168
39 0.8832116788321168
38 0.8832116788321168
37 0.8759124087591241
36 0.8759124087591241
35 0.8832116788321168
34 0.8832116788321168
33 0.8686131386861314
32 0.8686131386861314
31 0.8905109489051095
30 0.8832116788321168
29 0.8905109489051095
28 0.8686131386861314
27 0.8759124087591241
26 0.8759124087591241
25 0.8613138686131386
24 0.8759124087591241
23 0.8722627737226277
22 0.8722627737226277
21 0.8686131386861314
20 0.8686131386861314
19 0.8467153284671532
18 0.843065693430657
17 0.8467153284671532
16 0.8321167883211679
15 0.8248175182481752
14 0.843065693430657
13 0.8284671532846716
12 0.8284671532846716
11 0.843065693430657